{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <form method="post" action="/index.php?t=mmd">{{ _hs|raw }}
        <div align="center">
            <b>{% if delSelAll %}Delete Topics{% else %}Move Topics{% endif %}:</b><br/>
            <span class="SmallText">
                {{ mmdTopicEnts }}
            </span>
            <br/><br/>
            {% if delSelAll %}
                <input type="submit" name="NO" value="No" />
                <input type="hidden" name="del_sel_all" value="1"/>
                <input type="submit" name="del_conf" value="Yes"/>
            {% else %}
                <table cellspacing="0" cellpadding="3" class="DialogTable dashed">
                    <tr>
                        <th>Destination Forum:</th>
                    </tr>
                    {{ tableData }}
                </table>
                <input type="submit" name="NO" value="Cancel"/>
                <input type="hidden" name="mov_sel_all" value="1"/>
                <input type="submit" name="submit" value="Move Topics"/>
        </div>
    </form>
{% endblock %}
