{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="ctb">
        {{ isPostError ? <h4 class="ac ErrorText">There was an error</h4> }}
        <form action="/index.php?t=remail" id="remail" method="post">
            <input type="hidden" name="posted" value="1" />
            <table cellspacing="1" cellpadding="2" class="MiniTable">
                <tr>
                    <th colspan="2">E-mail This Topic to a Friend</th>
                </tr>
                {{ formData|raw }}
            </table>
            <?php echo _hs; ?>
            <input type="hidden" name="th" value="{{ th }}" />
        </form>
    </div>
{% endblock %}
