<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ FORUM_TITLE }} {{ TITLE_EXTRA }}</title>
    <script src="/js/lib.js"></script>
    <script async src="/js/jquery.js"></script>
    <script async src="/js/ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="/theme/twig/forum.css"/>
</head>
<body>
<div class="content">
    <form method="post" action="/index.php?t=rpasswd">
        <div class="ac">
            <table cellspacing="1" cellpadding="2" class="MiniTable" width="100%">
                <?php echo $rpasswd_error; ?>
                <tr>
                    <th colspan="2">Change Password</th>
                </tr>
                <tr class="RowStyleB">
                    <td>Login</td>
                    <td>{{ usr.login|escape }}</td>
                </tr>
                <tr class="RowStyleB">
                    <td>Current Password:</td>
                    <td><input type="password" name="cpasswd" value=""/></td>
                </tr>
                <tr class="RowStyleB">
                    <td>New Password:</td>
                    <td><input type="password" name="passwd1" id="passwd1" value=""/></td>
                </tr>
                <tr class="RowStyleB">
                    <td>Confirm Password:</td>
                    <td>
                        <input type="password" name="passwd2" id="passwd2" value=""
                                onkeyup="passwords_match('passwd1', this); return false;"/>
                    </td>
                </tr>
                <tr class="RowStyleB">
                    <td align="right" colspan="2">
                        <input type="submit" class="button" value="Go" name="btn_submit"/>
                    </td>
                </tr>
            </table>
        </div>
        {{ _hs|raw }}
    </form>
</div>
</body>
</html>
