{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ currentPageTemplate }}
    {{ tabs }}
    <table cellspacing="1" cellpadding="2" class="ContentTable">
        <tr>
            <th colspan="2">Author</th>
            {{ messageTemplate }}
    </table>
{% endblock %}
