{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <form id="movemsg" action="/index.php?t=movemsg" method="post">
        {{ _hs }}
        <input type="hidden" name="th" value="{{ th }}" />
        <table cellspacing="1" cellpadding="2" class="ContentTable">
            <tr>
                <th class="wa" colspan="2">Topic Split Control Panel</th>
            </tr>
            <tr class="RowStyleA">
                <td class="al fb">Specify the ID of the destination topic (can be in other forums)</td>
                <td class="al"><input type="text" value="" name="dest_th" /></td>
            </tr>
            <tr class="RowStyleC">
                <td colspan="2" class="ac">
                    <input type="submit" class="button" name="btn_selected" value="Move Selected Messages" />
                </td>
            </tr>
        </table>
        <br />
        <table cellspacing="1" cellpadding="2" class="ContentTable">
            <tr>
                <th class="nw">Select</th><th width="100%">Messages</th>
            </tr>
            {{ msgEntry }}
        </table>
        <br />
        <table cellspacing="1" cellpadding="2" class="ContentTable">
            <tr class="RowStyleC">
                <td colspan="2" class="ac">
                    <input type="submit" class="button" name="btn_selected" value="Move Selected Messages" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
