{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% if not frm_id or (frm_id and forum_list_table_data) %}
        <table cellspacing="1" cellpadding="2" class="ContentTable">
            <tr>
                <th colspan="3" class="wa">Forum</th>
                <th class="nw hide1">Messages</th>
                <th class="nw hide1">Topics</th>
                <th class="nw ac hide2">Last message</th>
            </tr>
            {{ forum_list_table_data|raw }}
        </table>
    {% endif %}
{% endblock %}
